<a href="https://colab.research.google.com/github/20250166/Homework/blob/main/20250910_0607.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
"006.자료형 개념 // 데이터 타입이라고도 불리는 자료형에 대한 개념을 배운다."

'006.자료형 개념 // 데이터 타입이라고도 불리는 자료형에 대한 개념을 배운다.'

In [41]:
# 파이썬의 주요 자료형: 수치 자료, 불리언 자료, 시퀀스 자료, set 자료, 딕셔너리

In [42]:
# 수치 자료: 수학에서 사용하는 수를 표현.
# 정수형, 실수형, 복소수형 3가지로 나뉘어짐.

intData = 15 # 정수 데이터
floatData = 2.5 # 실수 데이터
complexData = 1+1j # 복소수 데이터

In [43]:
# 불리언 자료 : 참과 거짓 값을 나타냄. true, false로 표기.

isTrue = True
isFalse = False

In [44]:
# 시퀀스 자료
# 순서가 있는 요소들로 구성됨. 정수 인덱스로 접근 가능.
# 리스트, 튜플, 문자열, range 객체, 바이너리 시퀀스 다섯개 존재.

In [45]:
# set 자료: 집합과 유사. 요소들 간의 순서가 없고 중복되지 않은 요소들로 구성.

sdtData = {1,2,3,4,5}
# "{}" 안에 요소를 나열함으로써 정의 가능.

In [46]:
# 딕셔너리 자료 : "{}" 안에 "키:값"으로 된 쌍이 요소로 구성된 자료형.

dictData = {0:False, 1:True}
# 각 요소는 콤마로 구분해 나열, 인덱스로 접근X 키를 이용해 대응되는 값에 접근.

In [47]:
"007.자료형 출력: print() // 다양한 자료를 화면에 출력하는 기본적인 방법에 대해 배운다."

'007.자료형 출력: print() // 다양한 자료를 화면에 출력하는 기본적인 방법에 대해 배운다.'

In [48]:
print('안녕하세요 파이썬!')

TypeError: 'tuple' object is not callable

In [ ]:
hello = '안녕하세요 파이썬!'
print(hello)

In [ ]:
intData1 = 1
intData2 = 2
print(intData1 + intData2)

In [ ]:
name = '홍길동'
phone = '010-1234-5678'
print('이름:',name,'핸드폰:',phone)

In [ ]:
print('#', end = '')
print('#'*5)

In [49]:
print(name, phone, sep = ';')

# 콤마로 구분해 print()의 마지막 인자로 sep 지정

TypeError: 'tuple' object is not callable