<a href="https://colab.research.google.com/github/20250166/Homework/blob/main/20251018_8283.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"082. 문자열을 구분자로 분리하기: str.split()"

'082. 문자열을 구분자로 분리하기: str.split()'

In [3]:
logData = '홍길도;남자;18세;도적;초능력자'
profile = logData.split(';')
print(profile)

['홍길도', '남자', '18세', '도적', '초능력자']

In [4]:
text = '나는 파이썬을 사랑합니다.'
print(text.split())

['나는', '파이썬을', '사랑합니다.']

In [6]:
profile = '이름:홍길동 나이:18세 성별:남자 국적:조선 직업:도적 특기:초능력'
for data in profile.split():
  key, val = data.split(':')
  print(f'{key} --> {val}')

이름 --> 홍길동
나이 --> 18세
성별 --> 남자
국적 --> 조선
직업 --> 도적
특기 --> 초능력

In [7]:
"083. 문자열에서 좌우 문자/공백 제거하기: str.strip(), str.lstrip, str.rstrip"

'083. 문자열에서 좌우 문자/공백 제거하기: str.strip(), str.lstrip, str.rstrip'

In [9]:
text = '  이 문장의 양쪽에는 공백이 있습니다.  '
print(f'<{text.strip()}>')
print(f'<{text.lstrip()}>')
print(f'<{text.rstrip()}>')

<이 문장의 양쪽에는 공백이 있습니다.>
<이 문장의 양쪽에는 공백이 있습니다.  >
<  이 문장의 양쪽에는 공백이 있습니다.>

In [10]:
url = 'www.python.com'
print(url.strip('cmow.'))

python

In [11]:
print(url.lstrip('cmow.'))
print(url.rstrip('cmow.'))

python.com
www.python