<a href="https://colab.research.google.com/github/20250166/Homework/blob/main/20250922_3031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"030.반올림 수 구하기: round()"

'030.반올림 수 구하기: round()'

In [2]:
ret = round(42.195)
print(ret)

42

In [3]:
ret = round(42.195, 0)
print(ret)

42.0

In [4]:
ret = round(42.195, 1)
print(ret)

42.2

In [5]:
ret = round(42.195, -1)
print(ret)

40.0

In [6]:
"031.수치 자료형 변환: int(), float(), str()"

'031.수치 자료형 변환: int(), float(), str()'

In [7]:
floatData = 1234.5
intData = int(floatData)
print(f'intData {intData} 자료형은 {type(intData)}입니다.')

intData 1234 자료형은 <class 'int'>입니다.

In [8]:
strData = '1234'
intData = int(strData)
print(f'intData {intData} 자료형은 {type(strData)}입니다.')

intData 1234 자료형은 <class 'str'>입니다.

In [9]:
strData = '1234.5'
intData = int(strData)

ValueError: invalid literal for int() with base 10: '1234.5'

In [10]:
strData = '1234.5'
floatData = float(strData)
print(f'intData {floatData} 자료형은 {type(floatData)}입니다.')

intData 1234.5 자료형은 <class 'float'>입니다.

In [12]:
print(float('2E5'))
print(float('2e3'))

200000.0
2000.0

In [14]:
intData = 1234;strData1 = str(intData)
floatData1 = 1234.5; strData2 = str(floatData1)
floatData2 = 1e-3; strData3 = str(floatData2)

print(f'정수 {intData} => 문자열 {strData1}, {type(strData1)}')
print(f'실수 {floatData1} => 문자열 {strData2}, {type(strData2)}')
print(f'실수 {floatData2} => 문자열 {strData3}, {type(strData3)}')

정수 1234 => 문자열 1234, <class 'str'>
실수 1234.5 => 문자열 1234.5, <class 'str'>
실수 0.001 => 문자열 0.001, <class 'str'>