<a href="https://colab.research.google.com/github/20250166/Homework/blob/main/20251011_7071.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"070. 튜플 이해하기"

'070. 튜플 이해하기'

In [2]:
tupleData = 1,'two', '셋'
print(tupleData)

(1, 'two', '셋')

In [3]:
tupleData = (1,'two', '셋')
print(tupleData)

(1, 'two', '셋')

In [4]:
x,y,z = tupleData
print(f'x = {x},y = {y},z = {z}')

x = 1,y = two,z = 셋

In [5]:
tupleData = (0,1,2,3,4)
tupleData[3] = 'Three'

TypeError: 'tuple' object does not support item assignment

In [6]:
"071.문자열(string) 객체"

'071.문자열(string) 객체'

In [7]:
strData1 = '안녕하세요'
strData2 = '작은따옴표는 "큰따옴표"를 포함하는 문자열이 가능합니다.'
print(strData1)
print(strData2)

안녕하세요
작은따옴표는 "큰따옴표"를 포함하는 문자열이 가능합니다.

In [10]:
strData3 = '안녕하세요'
strData4 = "큰따옴표는 '작은따옴표'를 포함하는 문자열이 가능합니다."
print(strData3)
print(strData4)

안녕하세요
큰따옴표는 '작은따옴표'를 포함하는 문자열이 가능합니다.

In [11]:
strData5 = ''' 삼중 작은따옴표는
         여러 줄에 걸친 문자열이 가능합니다. '''
print(strData5)

 삼중 작은따옴표는
         여러 줄에 걸친 문자열이 가능합니다.

In [12]:
strData6 = """ 삼중 큰따옴표 역시
여러 줄에 걸친 문자열이 가능합니다 """
print(strData6)

 삼중 큰따옴표 역시
여러 줄에 걸친 문자열이 가능합니다